#addalbumdialogcontainer .stepview {
	display: none;		
}

#addalbumdialogcontainer .stepview.active {
	display: block;		
}

#rawalbumslist {
	margin: 0;
	height: 204px;
	overflow-y: scroll;
	padding: 10px 0;
}

#rawalbumssearch {
	margin: 0;
	border-bottom: 1px solid #bbb;
	padding: 15px;
}

.rawalbum {
	width: 100px;
	text-align: center;
	display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border: 1px solid transparent;
    margin: 0 5px;
}

.rawalbum:hover,
.rawalbum.selected {
	background-color: #EEE;
	border: 1px solid #DDD;
	border-radius: 8px;
}

.rawalbum .rawalbumname {
	 word-break: break-all;
	 word-wrap: break-word;
	 display: inline-block;
}

.rawalbum img {
	width: 50px;
	display: block;
	margin: 0 auto;
}

#addalbumprogressbar {
	margin-top: 110px;
}

#addalbumprogressbar .progress-label {
	float: left;
	margin-left: 50%;
	margin-top: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
	
#rawalbumssearch {
	text-align: center;
}