.album {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #BBB;
	overflow: hidden;
	position: relative;
	margin: 15px 0 15px 15px;
	vertical-align: top;
	padding: 5px;
	background-color: #FFF;
}

.album:hover {
	cursor: pointer;
}
	
.album img.coverimage {
	border: 1px solid #BBB;
}

.album .albumbanner {
	position: absolute;
	bottom: 6px;
	left: 6px;
	right: 6px;
	background-color: rgba(0, 0, 0, 0.4);
	font-weight: bold;
	color: #FFF;
	text-align: left;
}

.album .albumbanner span {
	display: block;
	padding: 5px;
}

.album .albumactions {
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px;
	display: none;
}

.album .albumactions img {
	width: 15px;
}

.album:hover .albumactions {
	display: block;
}