body {
	font-family: Arial, Verdana;
	font-size: 14px;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #434343;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

#content {
	margin-top: 20px;	
	width: 800px;
	margin: 0 auto;
}

body img {
	border: 0;
}

body .ui-widget {
	font-size: 14px;
}

body a {
	color: #434343;
}