#header {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 40px;
}

#header #titlearea {
	position: relative;
}

#header #titlearea span {
	position: absolute;
	left: 19%;
	display: block;
	font-size: 40px;
	padding: 25px 0 0 0;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
	color: #FFF;
	font-weight: bold;
	z-index: 20;
}

#header #teasercontainer {
	width: 1200px;
	position: relative;
	padding-top: 8%;
	padding-bottom: 10px;
	overflow: hidden;
}

#header #currentteaser {
	margin: 0 auto;
	text-align: center;
}

#header #currentteaser img {
	height: 500px;
	margin: 0 auto;
}

#header #currentteaser .album .albumbanner {
	font-size: 24px;
}

#header #teaseralbums {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

#header #teasercontainer #teaseralbums .album {
	margin: 5px 0;
}

#header #teasercontainer #teaseralbums .album +a.album {
	margin: 5px 0 5px 5px;
}

#header #teasercontainer .album{
	margin: 0;
}

#header #teaseralbums .album img {
	max-width: 179px;
	max-height: 111px;
}

#header #teaseralbums .album.selected {
	background-color: #BBB;
}

#backgroundteaser {
	z-index: -10;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	opacity: 0.8;
	filter: alpha(opacity=70);
}

#backgroundteaser img{
	height: 800px;
	
}