#header #menu {
	position: absolute;
	left: 50%;
	z-index: 10;
}

#header #menu .tab {
	min-height: 70px;
	float: left;
	margin-right: 10px;
}

#header #menu .tab:hover {
	background-color: #FFF;
}

#header #menu .tab.active {
	background-color: #FFF;
}

#header #menu .tab a {
	display: block;
	padding: 45px 10px 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#header #menu .tab.active a,
#header #menu .tab:hover a {
	color: #434343;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}