#showalbumdialogcontainer {
	position: relative;
	padding: 15px;
}

#showalbumpicturecontainer {
	text-align: center;
	display: table-cell;
	height: 562px;
	width: 770px;
	vertical-align: middle;
}

#showalbumpicturecontainer img.albumpictureimg {
	max-width: 760px;
	max-height: 500px;
	border: 1px solid #BBB;
}

#imageandactionscontainer {
	margin: 0 auto;
	border: 1px solid #BBB;
	padding: 5px;
	position: relative;
}

#showalbumpicturecontainer a.albumpicture {
	display: inline-block;
}

#showalbumpicturecontainer div.coverimagecontainer {
	float: right;
	position: absolute;
	top: 7px;
	right: 7px;
}

#showalbumpicturecontainer div.commentcontainer {
	margin-top: 5px;
	text-align: left;
}

#showalbumpicturecontainer div.commentcontainer .commentinput {
	width: 90%;
}

#showalbumpicturecontainer .commentcontainer img {
	width: 20px;
	vertical-align: middle;
}

#showalbumpicturecontainer .imageactions {
	margin: 0 auto;
	padding: 5px;
}


#showalbumthumbnailcontainer {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
	height: 75px;
	overflow: hidden;
}

#showalbumthumbnailcontainer a.thumbnail {
	display: inline-block;
	border: 1px solid #BBB;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#showalbumthumbnailcontainer a.thumbnail.end {
	display: inline-block;
	width: 60px;
	height: 62px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #bbb;
	background-color: #FFF;
	line-height: 20px;
	vertical-align: top;
}

#showalbumthumbnailcontainer a.thumbnail.end.selected {
	display: inline-block;
	height: 58px;
	border: 8px solid #bbb;
	padding: 0;
}

#showalbumthumbnailcontainer img {
	max-height: 60px;
	display: inline-block;
	border: 1px solid #BBB;
}


#showalbumthumbnails {
	margin: 0 60px;
}

#showalbumthumbnails a.selected {
	background-color: #BBB;
}


.thumbnailpager:hover {
	background-color: #ddd;
}

#showalbumdialogcontainer a {
	outline: none;
}

.thumbnailpager span {
	margin: 0 10px;
}

#thumbnailpagerleft {
	position: absolute;
	left: 0;
	top: 0;
}

#thumbnailpagerleft span {
	display: block;
	background-image: url(../images/arrow-left.png);
	width: 32px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: -47px -26px;
	text-indent: -9999px;
}

#thumbnailpagerright {
	position: absolute;
	right: 0;
	top: 0;
}

#thumbnailpagerright span {
	display: block;
	background-image: url(../images/arrow-right.png);
	width: 32px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: -48px -26px;
	text-indent: -9999px;
}


