#albumtimelinecontainer {
	width: 90%;
	float: left;
}

#albumtimeline {
	border-left: 2px dotted #BBB;
}

.month {
	min-height: 160px;
}

.year > .clear {
	margin-bottom: 45px;
}

.monthheader {
	position: relative;
}

.monthheader .spacerleft {
	float: left;
	height: 6px;
	position: relative;
	width: 6px;
	border-radius: 15px;
	border: 2px solid #BBB;
	margin-left: -6px;
	background-color: #BBB; 
	margin-top: 5px;
}

.monthheader .monthvalue {
	float: left;
	font-size: 18px;
	padding: 0 11px;
	color: #434343;
}

.monthheader .spacerright {
	overflow: hidden;
	height: 10px;
	position: relative;
}

.yearheader {
	position: relative;
	margin-bottom: 45px;
}

.yearheader .spacerleft {
	float: left;
	height: 10px;
	position: relative;
	width: 10px;
	border-radius: 15px;
	border: 2px solid #BBB;
	margin-left: -8px;
	background-color: #BBB; 
	margin-top: 0;
}

.yearheader .yearvalue {
	float: left;
	font-size: 18px;
	padding: 0 9px;
	color: #434343;
	margin-top: -3px;
}

.yearheader .spacerright {
	overflow: hidden;
	height: 10px;
	position: relative;
}

#albumquickjump {
	float: left;
	width: 10%;
	position: relative;
}

#albumquickjump .yearline {
	border-left: 2px dotted #BBB;
}

#albumquickjump .yearline.fixed {
	position: fixed;
	top: 20px;
}

#albumquickjump .yearquickentry {
	position: relative;
}

#albumquickjump .dot {
	width: 6px;
	height: 6px;
	border-radius: 15px;
	border: 2px solid #BBB;
	margin-left: -6px;
	background-color: #BBB;
	float: left;
}

#albumquickjump .yearquickentry + div  {
	margin-top: 10px;
}

#albumquickjump .yearquickentry.active .dot {
	width: 10px;
	height: 10px;
	margin-left: -8px;
}

#albumquickjump .yearquickentry .yearquickentryline {
	padding-left: 10px;
	float: left;
	margin-top: -3px;
}

#albumquickjump .yearquickentry.active .yearquickentryline {
	padding-left: 8px;
	float: left;
	margin-top: -1px;
}

#albumquickjump .yearquickentry .yearquickentryline a {
	text-decoration: none;
	color: #434343;
}

#albumquickjump .yearquickentry.active .yearquickentryline a {
	font-weight: bold;
}