#usermanagerdialogcontainer {
	padding: 0;
}

#usermanagerdialogcontainer #usermanagertabs {
	position: absolute;
	top: 5px;
	right: 0;
	left: 0;
	bottom: 0;
}

#userpermissions table {
	width: 100%;	
}

#userpermissions table tbody td {
	text-align: center;
	border-top: 1px dotted #434343;
}

#userpermissions table .usernamecell {
	text-align: left;
}

#userinvitationtable th {
	text-align: right
}

#userinvitationtablecontainer {
	float: left;	
}

#userinvitationlinkcontainer {
	overflow: hidden;	
}

#userinvitationlinkarea {
	margin-left: 20px;
	height: 120px;
	border: 1px solid #BBB;
	overflow: auto;	
}

#userinvitationlist {
	clear: both;
	overflow-y: scroll;
	height: 340px;
	margin-top: 20px;
	border: 1px solid #BBB;
}

#userinvitationlist table {
	width: 100%;	
}

#userinvitationlist table td {
	text-align: center;
	border-top: 1px dotted #434343;
}

#userinvitationlist .statusimage{
	width: 20px;
}